.card {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px !important;
    max-width: 345px !important;
    margin-right: 10px !important;
}

.card-actions {
    margin-bottom: 1rem;
}

.card-button {
    text-transform: none;
    font-weight: 600;
}

.auth-button {
    background-color: #1976d2;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 96%; 
  }
  
  .auth-button:hover {
    background-color: #1565c0;
  }
  
